<!DOCTYPE html>
<html>
    <head>
        <title>My Diary</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <!--<div class="header item"><i class="life ring outline icon"></i>Diary</div>-->
                <a class="header item" href="/" class="item">
                    <i class="life ring outline icon"></i>omniDiary
                </a>
                <!--<a href="/" class="item">Home Page</a>-->
                <a href="/diary/new" class="item">New Diary</a>
            </div>
        </div>